hwc_access_key="..."
hwc_secret_key="..."
region="sa-brazil-1"                # LA-Sao Paulo1
availability_zone="sa-brazil-1a"    # AZ1
availability_zone_standby="sa-brazil-1a"    # AZ1
obs_bucket_name="..."
default_password="..."
